html {
  box-sizing: border-box;
  font-family: Lato, sans-serif;
  line-height: 1.5;
  background-color: #eee9de;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  text-align: center;
  margin: 0;
  width: 100%;
}

img {
  display: block;
  max-width: 30em;
  width: 100%;
  margin-top: .75em;
  padding: 2em 1em .2em;
}

div {
  max-width: 25em;
  padding: 0 2em;
  line-height: 1.5;
  color: #333;
  vertical-align: middle;
}

section {
  text-align: center;
  padding-bottom: 2em;
}

.btn {
  text-align: left;
  display: inline-block;
}

a {
  display: inline-block;
  list-style-type: none;
  font-family: sans-serif;
  text-decoration: none;
  margin: 0;
  padding: .4em .75em .5em;
  background-color: #eee9de;
  color: #333;
  border-color: #666;
  border-radius: 5px;
  border: 2px solid #666;
}

a:hover {
  background-color: #666;
  color: #eee9de;
}
